{% extends "BenDoctorsBundle::layout.html.twig" %}
{% block title %}
Tableau de bord | {{ parent() }}
{% endblock %}
{% block stylesheet %}
    {{ parent() }}
    <link href="{{ asset('bootstrap/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="col-md-12">
    <h3><span class="glyphicon glyphicon-list-alt"></span> Registro de acta de recepción y pago</h3>

<form action="{{ path('recepcion_pago_create') }}"  class="form-horizontal col-md-8" method="post">

    {% include "BenDoctorsBundle:RecepcionPago:form_continue.html.twig" %}

    <div class="form-group">
      <div class="col-sm-offset-6 col-sm-6">
        <button id="guardar" name="guardar" type="submit" class="btn btn-primary" value="1"><span class="glyphicon glyphicon-edit"></span> Guardar</button>
        <button id="guardar_y_continuar" name="guardar_y_continuar" type="submit" class="btn btn-info" value="2"><span class="glyphicon glyphicon-edit"></span> Guardar y continuar</button>
      </div>
    </div>
</form>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}

    <script src="{{ asset('js/moment.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap-datetimepicker.js') }}"></script> 
<script> 
    (function($) {

        $('.has-datepicker').attr('data-date-format', 'YYYY-MM-DD').parent().datetimepicker({
          pickTime: false
        });
        
        $('#ben_recepcion_pago_fechaFirma').datetimepicker({
          defaultDate: new Date()
        });
        
        $('select').removeClass('form-control').select2({minimumResultsForSearch: -1});

        // $('select').removeClass('form-control').select2(); AFECTA TODOS LOS CAMPOS

        $('#ben_recepcion_pago_unidad').removeClass('form-control').select2();
        $('#ben_recepcion_pago_lineaTrabajo').removeClass('form-control').select2();
        $('#ben_recepcion_pago_proveedor').removeClass('form-control').select2();
        
        $("#ben_recepcion_pago_unidad").change(function(){
          var data = {
              unidad_id: $(this).val()
          };
       
          $.ajax({
              type: 'post',
              url: '{{ path("select_linea_trabajos") }}',
              data: data,
              success: function(data) {
                  var $linea_trabajo_selector = $('#ben_recepcion_pago_lineaTrabajo');
                  
                  $linea_trabajo_selector.html('<option></option>');
                  
                  //alert('=>' + data.length);
                  
                  //alert('=>' + data);
                  //console.dir(data);
                  
                  if(data.length == 0){
                    
                    $('#ben_recepcion_pago_lineaTrabajo').select2({
                      placeholder: "No se encontraron líneas de trabajo"
                    });
                  }else{
                    $('#ben_recepcion_pago_lineaTrabajo').select2({
                      placeholder: "Se encontraron líneas de trabajo"
                    });
                    $('#ben_recepcion_pago_lineaTrabajo').change(function(){
                        var data = {
                            linea_trabajo_id: $(this).val()
                        };
                        $.ajax({ // ajax post 2
                          type: 'post',
                          url: '{{ path("correlativo_linea_trabajos") }}',
                          data: data,
                          success: function(data) { // success 2
                              var $correlativo_linea_trabajo_selector = $('#ben_recepcion_pago_numeroReferencia');
                              //alert("hola");
                              //$linea_trabajo_selector.html('<option></option>');
                              $correlativo_linea_trabajo_selector.val(data[0].correlativo+1);
                              
                          } // fin success 2
                        }); // fin ajax post 2
                      }); // fin change 2
                  }
                  
                  for (var i=0, total = data.length; i < total; i++) {
                    //alert('=>' + data[i].Id);
                    $linea_trabajo_selector.append('<option value="' + data[i].id + '">' + data[i].codigo + " - " + data[i].nombre + '</option>');
                  }
                  /*$.each(data, function(key, element) {
                      alert('key: ' + key + '\n' + 'value: ' + element.id);
                  });*/
              }
          });
      });

    })(jQuery);
</script>
{% endblock %}
