  <div class="form-group">
    <label for="" class="col-sm-6 control-label">Foto</label>
    <div class="col-sm-6">
      <img class="myavatar col-md-4" src="{{ asset( entity.avatar)}}">
    </div>
  </div>
  {{ form_row(form.image.file, { 'label': ' '}) }}
  {{ form_row(form.username, { 'label': 'Nombre de usuario'}) }}
  {{ form_row(form.plainpassword, { 'label': 'Contraseña'}) }}
  {{ form_row(form.family_name, { 'label': 'Apellido'}) }}
  {{ form_row(form.first_name, { 'label': 'Nombre'}) }}
  {{ form_row(form.email, { 'label': 'Correo electrónico'}) }}
  {{ form_row(form.tel, { 'label': 'Teléfono'}) }}
  {{ form_row(form.enabled, { 'label': 'Activo'}) }}
  {{ form_rest(form) }}